@charset "UTF-8";

/* Telas maiores / acima de 992px */

/* Typical Device Breakpoints 
Telas pequenas: até(menos que) 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1199px 
Telas grandes: de 1200px pra cima
*/

:root {
  --cor0: #000;
  --cor1: #fff;
  --cor2: #1a7fbd;
  --cor3: #a4dcff;
}

header > figure {
  margin-right: 50px;
}

header > nav > a.link-formulario {
  margin-left: 65px;
}

article#formulario > figure {
  height: 1160px;
  background-size: contain;
  background-position: left top;
  position: relative;
  left: -16%;
}

article#formulario > form {
  width: 410px;
  height: 800px;
  top: 7%;
  left: 74%;
}

article#formulario::before {
  content: "";
  position: absolute;
  top: 49.6%;
  left: 0;
  width: 100%;
  height: 18.33%;
  background-color: var(--cor1);
}

article#projeto {
  text-align: center;
  padding-top: 0px;
}

article#projeto > figure {
  height: 445px;
  width: 525px;
  display: inline-block;
  margin-right: 90px;
}

article#projeto > div {
  display: inline-block;
  text-align: left;
  transform: translateY(-88px);
  margin-top: 53px;
}

article#problema {
  text-align: center;
  margin-bottom: -60px;
}

article#problema > figure {
  display: inline-block;
  height: 750px;
  width: 525px;
}

article#problema > div {
  display: inline-block;
  transform: translate(60px, -260px);
  text-align: left;
  width: 500px;
  box-shadow: none;
}

article#problema > article#solucao {
  display: flex;
  justify-content: center;
  transform: translateY(-206px);
}

article#problema > article#solucao > div {
  margin: 0px 5px;
}

article#jornada > div {
  width: 100%;
  text-align: center;
  margin-bottom: 38px;
}

article#jornada > div > figure {
  display: inline-block;
}

article#jornada > div > h2 {
  display: inline-block;
  margin: 0px 15px;
}
