@charset "UTF-8";

/* Mobile first / até 600px */

@import url("https://fonts.google.com/noto/specimen/Noto+Sans?query=noto");

:root {
  --cor0: #000;
  --cor1: #fff;
  --cor2: #1a7fbd;
  --cor3: #a4dcff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
}

header {
  background-color: var(--cor2);
  text-align: center;
  padding: 5px;
}

header > figure {
  display: inline-block;
  height: 80px;
  padding: 5px;
  margin: 0px auto 10px auto;
}

header > figure > img {
  width: 200px;
  transform: translateY(18px);
}

header > nav {
  display: inline-block;
  margin: 10px 5px 20px 5px;
  text-align: center;
}

header > nav > a {
  display: inline-block;
  color: var(--cor1);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
}

header > nav > a.link-formulario {
  background-color: var(--cor0);
  margin: 20px auto 0px auto;
}

header > nav > a:hover {
  background-color: var(--cor3);
  color: var(--cor0);
}

header > hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to left, transparent, var(--cor1), transparent);
}

main > article#formulario {
  width: 100%;
  height: 1050px;
  padding: 5px;
  background: var(--cor2) url("../Assets_Netuno/bannertopo.png") no-repeat;
  background-position: top left;
  background-size: contain;
  position: relative;
}

main > article#formulario > form {
  background-color: var(--cor1);
  width: 320px;
  padding: 25px;
  border: 1px solid var(--cor3);
  border-radius: 15px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.35);

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

article#formulario form h2 {
  color: rgba(0, 0, 0, 0.23);
  font-size: 1.3em;
  text-indent: 10px;
}

article#formulario form fieldset {
  border: none;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

article#formulario form fieldset legend {
  color: var(--cor2);
  font-weight: bolder;
  font-size: 0.9em;
}

article#formulario form div.dados-pessoais label {
  display: none;
}

article#formulario form div.dados-pessoais input {
  border-radius: 8px;
  margin: 3px 0px;
  height: 48px;
  width: 100%;
}

article#formulario form div#caixa-selecao legend {
  color: var(--cor1);
}

article#formulario form div#caixa-selecao {
  background-color: var(--cor2);
  color: var(--cor1);
  margin: 0px -25px 20px -25px;
  padding: 10px 25px 1px 25px;
}

article#formulario p {
  color: var(--cor2);
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 20px;
}

article#formulario div > input#botao-enviar {
  background-color: var(--cor2);
  color: var(--cor1);
  font-size: 1em;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px 0px;
}

article#formulario p#termos-uso {
  color: rgba(0, 0, 0, 0.45);
}

article#formulario p#termos-uso > a {
  color: var(--cor2);
  text-decoration: none;
}

article#formulario p#termos-uso > a:hover {
  text-decoration: underline;
}

article#projeto {
  background-color: var(--cor2);
  color: var(--cor1);
  padding: 5px;
}

article#projeto figure {
  height: 400px;
  width: 100%;
  background: url("../Assets_Netuno/dev.png") top center no-repeat;
  background-size: contain;
}

article#projeto div {
  min-width: 220px;
  max-width: 420px;
  margin: 0px auto 50px auto;
}

article#projeto h2 {
  font-size: 2.5em;
  margin: 15px 0px;
}

article#projeto p {
  margin: 15px 0px;
}

article#problema {
  background: var(--cor3) url("../Assets_Netuno/Container2.png") top center
    no-repeat;
  background-size: contain;
  padding: 5px;
  height: 1500px;
  width: 100%;
  position: relative;
}

article#problema > article > h2 {
  color: var(--cor2);
  font-size: 2.5em;
  margin-bottom: 15px;
}

article#problema > article > h3,
p,
hr {
  margin: 10px 0px 20px 0px;
}

article#problema > article {
  background-color: aquamarine;
  min-width: 220px;
  max-width: 420px;
  position: absolute;
  right: 10%;
}

article#problema > div > h3 {
  font-size: 1.8em;
}

article#problema > div > div {
  position: relative;
  bottom: 10%;
}

article#problema > div > div {
  display: inline-block;
  background-color: var(--cor1);
  width: 335px;
  height: 235px;
  text-align: center;
  margin: 10px;
  padding: 30px;
  border-radius: 12px;
}
