@charset "UTF-8";

/* Mobile first / até 768px */

@import url("https://fonts.google.com/noto/specimen/Noto+Sans?query=noto");

:root {
  --cor0: #000;
  --cor1: #fff;
  --cor2: #1a7fbd;
  --cor3: #a4dcff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: var(--cor2);
  text-align: center;
  padding: 5px;
}

header > figure {
  display: inline-block;
  height: 80px;
  padding: 5px;
  margin: 0px auto 10px auto;
}

header > figure > img {
  width: 200px;
  transform: translateY(18px);
}

header > nav {
  display: inline-block;
  margin: 0px 5px 10px 5px;
}

header > nav > a {
  display: inline-block;
  color: var(--cor1);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
}

header > nav > a.link-formulario {
  background-color: var(--cor0);
}

header > nav > a:hover {
  background-color: var(--cor3);
  color: var(--cor0);
}

header > hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to left, transparent, var(--cor1), transparent);
  margin-bottom: -4px;
}

article#formulario {
  width: 100%;
  height: 1160px;
  position: relative;
  background-color: var(--cor2);
}

article#formulario > figure {
  width: 100%;
  height: 320px;
  background: var(--cor2) url("../Assets_Netuno/bannertopo.png") no-repeat;
  background-position: top center;
  background-size: contain;
}

article#formulario > form {
  background-color: var(--cor1);
  width: 305px;
  padding: 25px;
  border: 1px solid var(--cor3);
  border-radius: 15px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

article#formulario > form > h2 {
  color: rgba(0, 0, 0, 0.23);
  font-size: 1.3em;
}

article#formulario > form fieldset {
  border: none;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

article#formulario > form fieldset legend {
  color: var(--cor2);
  font-weight: bolder;
  font-size: 0.8em;
}

article#formulario > form fieldset label {
  font-size: 0.8em;
  margin: 0px 20px 10px auto;
  display: inline-block;
}

article#formulario > form div.dados-pessoais label {
  display: none;
}

article#formulario > form div.dados-pessoais {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px 0px;
  border-radius: 8px;
}

article#formulario > form div.dados-pessoais img {
  width: 15px;
  margin: 0px 10px -2px 13px;
}

article#formulario > form div.dados-pessoais input {
  border: none;
  height: 48px;
  margin: 2px 0px;
  width: calc(100% - 45px);
}

article#formulario > form div.dados-pessoais input:focus {
  border: 0;
  outline: 0;
}

article#formulario > form div.dados-pessoais input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--cor0);
  -webkit-box-shadow: 0 0 0px 1000px var(--cor1) inset;
}

article#formulario > form div#caixa-selecao legend {
  color: var(--cor1);
}

article#formulario > form div#caixa-selecao {
  background-color: var(--cor2);
  color: var(--cor1);
  margin: 0px -26px 20px -26px;
  padding: 10px 26px 1px 26px;
}

article#formulario > form div.selecao > input {
  display: none;
}

article#formulario > form div.selecao > input + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

article#formulario input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid var(--cor1);
  background-color: var(--cor2);
  box-sizing: border-box;
}

article#formulario input[type="checkbox"]:checked + label::before {
  border: 5px solid var(--cor1);
}

article#formulario input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid var(--cor2);
  background-color: var(--cor1);
  box-sizing: border-box;
}

article#formulario input[type="radio"]:checked + label::before {
  border: 5px solid var(--cor2);
}

article#formulario input[type="radio"] + label {
  color: rgba(0, 0, 0, 0.5);
}

article#formulario hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

article#formulario p {
  color: var(--cor2);
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 20px;
}

article#formulario div > input[type="submit"] {
  background-color: var(--cor2);
  color: var(--cor1);
  font-size: 1em;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px 0px;
}

article#formulario div > input[type="submit"]:hover {
  background-color: var(--cor3);
  color: var(--cor2);
}

article#formulario p:last-child {
  color: rgba(0, 0, 0, 0.45);
}

article#formulario p:last-child > a {
  color: var(--cor2);
  text-decoration: none;
}

article#formulario p:last-child > a:hover {
  text-decoration: underline;
}

article#projeto {
  background-color: var(--cor2);
  color: var(--cor1);
  padding: 50px 5px;
}

article#projeto > figure {
  height: 263px;
  width: 305px;
  background: url("../Assets_Netuno/dev.png") top center no-repeat;
  background-size: contain;
  margin: 0px auto 30px auto;
}

article#projeto > div {
  min-width: 220px;
  max-width: 420px;
  margin: auto;
}

article#projeto > div > h2 {
  color: var(--cor3);
  font-size: 2.5em;
  margin: 15px 0px;
}

article#projeto div > p {
  margin: 15px 0px;
}

article#problema {
  padding: 5px;
  width: 100%;
  margin-bottom: 120px;
}

article#problema > figure {
  background: url("../Assets_Netuno/Container2.png") top center no-repeat;
  background-size: contain;
  height: 320px;
  width: 100%;
}

article#problema > div {
  background-color: var(--cor1);
  min-width: 300px;
  max-width: 420px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.45);
  margin: auto;
}

article#problema > div > h2 {
  background-image: linear-gradient(to right, var(--cor2), var(--cor3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--cor2);
  font-size: 2.5em;
  margin-bottom: 15px;
}

article#problema > div > h3,
p,
hr {
  margin: 10px 0px 20px 0px;
}

article#problema > div > hr {
  border: 0px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

article#problema > article#solucao > div {
  background-color: var(--cor1);
  width: 335px;
  height: 235px;
  text-align: center;
  margin: 10px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
}

article#problema > article#solucao > div > h3 {
  font-size: 1.8em;
}

article#jornada > div > figure {
  background: url("../Assets_Netuno/Elements/Vector2.png") center center
    no-repeat;
  background-size: contain;
  width: 340px;
  height: 30px;
  margin: 0px auto 0px auto;
}

article#jornada > div > figure:first-child {
  transform: scaleX(-1);
}

article#jornada > div > h2 {
  background-image: linear-gradient(to right, var(--cor2), var(--cor3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--cor2);
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 15px;
}

article#jornada > article#passos {
  min-width: 350px;
  max-width: 1200px;
  padding: 5px;
  margin: 30px auto;
  text-align: center;
}

article#jornada > article#passos > div {
  display: inline-block;
  background-color: var(--cor2);
  width: 320px;
  height: 70px;
  margin: 0px 17px 17px 17px;
  border-radius: 8px;
  padding: 0px 15px 0px 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
  position: relative;
}

article#jornada > article#passos > div > figure {
  display: inline-block;
  background-color: var(--cor1);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  position: absolute;
  left: 4%;
  bottom: 12%;
}

article#jornada > article#passos > div > figure > img {
  width: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

article#jornada > article#passos > div > p {
  display: inline-block;
  color: var(--cor1);
  width: calc(100% - 80px);
  font-weight: lighter;
  text-align: left;
  transform: translate(35px, 4px);
}

article.link-formulario {
  padding: 5px;
  margin: 90px 0px 150px 0px;
}

article.link-formulario > div {
  background-color: var(--cor0);
  margin: 0px auto 20px auto;
  color: var(--cor1);
  min-width: 300px;
  max-width: 459px;
  height: 70px;
  border-radius: 12px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

article.link-formulario a {
  color: var(--cor2);
  text-decoration: none;
}

article.link-formulario p a:hover {
  text-decoration: underline;
}

article.link-formulario div img {
  width: 25px;
  transform: translate(10px, 8px);
}

article.link-formulario > figure {
  width: 207px;
  margin: 0px auto;
}

article#objetivo {
  background-color: var(--cor2);
  text-align: center;
  padding: 5px;
  padding-bottom: 120px;
}

article#objetivo > h2 {
  color: var(--cor1);
  font-size: 2.5em;
  font-weight: bold;
  margin: 40px auto;
}

article#objetivo > div {
  background-color: var(--cor1);
  width: 335px;
  height: 235px;
  text-align: center;
  margin: 2px;
  padding: 30px;
  border-radius: 12px;
  border: 2px solid var(--cor3);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
  display: inline-block;
  vertical-align: middle;
}

article#objetivo > div > h3 {
  font-size: 1.8em;
}

footer {
  background-color: var(--cor0);
  color: var(--cor1);
  padding: 50px 5px 20px 5px;
  text-align: center;
}

footer > div:first-child {
  display: inline-block;
  text-align: left;
  margin-right: 25px;
  margin-bottom: 40px;
}

footer > div:first-child a > img {
  width: 18px;
  margin: 10px 10px 0px 0px;
}

footer > div:first-child p {
  font-size: 0.6em;
}

footer > div:nth-child(2) {
  display: inline-block;
  margin-left: 25px;
  text-align: left;
  transform: translateY(8px);
}

footer > div:nth-child(2) > nav > a {
  display: inline-block;
  background-color: var(--cor1);
  color: var(--cor0);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 25px;
  border-radius: 8px;
  border: 2px solid var(--cor2);
  transform: translateY(-89px);
}

footer > div:nth-child(2) > nav > a:hover {
  background-color: var(--cor3);
}

footer > div:nth-child(2) ul {
  display: inline-block;
}

footer > div:nth-child(2) nav li {
  list-style-type: none;
}

footer > div:nth-child(2) nav li a {
  display: inline-block;
  color: var(--cor1);
  text-decoration: none;
  margin: 5px auto;
}

footer > div:nth-child(2) nav li a:hover {
  text-decoration: underline;
}

footer > hr {
  border: 0;
  height: 1px;
  width: 50%;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.45);
}
